<% include partials/header %>

<h1>This is the home page</h1>

<p>And here is my Pomsky</p>

<img src ="https://media2.s-nbcnews.com/j/newscms/2014_11/251621/pc-thailand-national-elephant-day-02_c8f437ad6b204f1ab74cc42e63c2ae5d.nbcnews-fp-1200-800.jpg"> 

<% include partials/footer %>